body {
    background-color: bisque;
    padding: 100px;
}

h1 {
    color: #aa0202;
}

h1.fnt-red {
    color: red;
}

.fnt-blue {
    color: blue;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}

div.container {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

div.container div {
    display: inline-block;
}

div.container img {
    border-radius: 3%;
}

div.cards {
    margin: 0%;
    padding: 10px;
    height: 10%;
    background-color: rgb(253, 234, 209);
    border-radius: 3%;
}

div.cards .price {
    margin-left: -70%;
    margin-top: 0%;
}

div.cards .title {
    margin-left: -70%;
    margin-top: -10%;
}

div.cards .description {
    margin-left: -20%;
}

div.cards i {
    margin-left: 15%;
    margin-right: 15%;
}

div.franjas {
    height: 40px;
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    line-height: 40px;
}

div.franjas.navBar {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
}

div.franjas.footer {
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
}

div.body-content1 {
    text-align: center;
}

div.body-content2 {
    text-align: center;
    margin-top: 100px;
    padding: 50px;
    background-color: aqua;
    text-align: justify;
    border-radius: 50px;
    position: relative;
    z-index: -2;
}

div.whiteBlackground {
    background-color: white;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

div.body-content2 p {
    z-index: 1;
}

div.css-forever {
    background-color: #aa0202;
    color: white;
    width: 400px;
    height: 100%;
    font-size: 80px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    position: relative;
}

div.cercle {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: bisque;
    margin: 5px;
    display: inline-block;
    border-radius: 50px;
    font-size: 40px;
    color: white;
    text-align: center;
    border: 5px #aa0202 solid;
}

div.cercle.cercleTopLeft {
    top: -45px;
    left: -40px;
}

div.cercleTopRight {
    top: -45px;
    right: -40px;
}

div.cercleBottomLeft {
    bottom: -45px;
    left: -40px;
}

div.cercleBottomRight {
    bottom: -45px;
    right: -40px;
}

div.container6 {
    all: none;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
}