html,
body {
    height: 100%;
    background-color: bisque;
}


/*
* {
    margin: 0;
    padding: 0;
}
*/

.volver {
    padding: 100px;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: table;
    overflow: hidden;
}

#container6 {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

#container6b {
    width: 100%;
    vertical-align: middle;
}

#content {
    display: inline-block;
    background-color: #CCC;
    margin: 0 auto;
    position: relative;
}

#content6b {
    display: inline-block;
    padding: 0%;
}

div.leftTop {
    background-color: black;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px;
    text-align: center;
    line-height: 120px;
}

div.rightTop {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    text-align: center;
    line-height: 120px;
}

div.leftBottom {
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 5px;
    text-align: center;
    line-height: 120px;
}

div.rightBottom {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
    text-align: center;
    line-height: 120px;
}

.icon-ex6 {
    color: white;
    font-size: 50px;
}

.squareList {
    list-style-type: square;
}

.fontAwsomeList {
    list-style-type: none;
}

.leterOrderedList {
    list-style-type: lower-alpha;
}

div.fila {
    /*background-color: silver;*/
}

div.row1,
div.row2,
div.row3 {
    margin: 2px;
    background-color: grey;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
}

div.mina {
    position: relative;
}

i.hovershow {
    position: absolute;
    color: transparent;
}

div.row1:hover,
div.row2:hover,
div.row3:hover {
    background-color: green;
}

div.mina:hover {
    background-color: red;
}

.hovershow,
.mina:hover {
    color: white;
    font-size: 50px;
    cursor: url(../img/bomb-solid.png), auto;
}

.hovershow,
.mina:hover {
    display: none;
}

.hovershow:hover,
.mina:hover {
    display: inline-block;
    color: white;
}