html,
body {
    height: 100%;
    background-color: bisque;
}

* {
    margin: 0;
    padding: 0;
}

.volver {
    padding: 100px;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: table;
    overflow: hidden;
}

#container {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

#content {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

form>p {
    color: blue;
    width: 600px;
    font-weight: bold;
}

form>p>label {
    width: 70px;
    margin: 5px;
    left: 0;
    display: inline-flex;
}

form>p>input {
    width: 500px;
}

.country {
    width: 210px;
}

.postalCode {
    width: 200px;
}

input.edad form>p>input {
    display: inline;
    color: blue;
}

div.left {
    text-align: left;
    margin: 10px;
    display: inline-block;
    left: 0;
    top: 0;
    position: absolute;
}

div.right {
    text-align: right;
    display: table-caption;
    width: 300px;
    position: absolute;
    right: 185px;
    top: 0;
}

form>div .tel,
form>div .vehiculo {
    width: 300px;
    color: blue;
    font-weight: bold;
    display: block;
}

form>div .vehiculo {
    margin-left: -40px;
    margin-top: 15px;
}

div.content {
    position: relative;
}

.submit {
    margin: 10px;
    margin-top: 50px;
    left: 0;
    position: absolute;
    height: 35px;
    width: 60px;
    font-weight: bold;
}