html,
body {
    height: 100%;
    background-color: bisque;
}

* {
    margin: 0;
    padding: 0;
}

.volver {
    padding: 100px;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: table;
    overflow: hidden;
}

#container {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

#content {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

p::first-letter {
    font-size: 3em;
}

p::first-line {
    color: rgb(172, 0, 0);
}