div.thumbs {
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    height: 15px;
    font-size: 100px;
    margin-bottom: 90px;
}

div.thumbs.down {
    color: gray;
}

