div.tricolor {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

div.initialColor {
    background-color: grey;
}

div.redColor {
    background-color: red;
}

div.greenColor {
    background-color: green;
}

div.blueColor {
    background-color: blue;
}