div.bola {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    display: inline-block;
    margin: 5px;
    color: white;
    text-align: center;
    line-height: 50px;
}

div.cuadrado {
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
    margin: 5px;
}

div.separador {
    display: block;
    border-top: 1px black solid;
    border-bottom: 3px black solid;
    height: 4px;
    width: 100%;
}

i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    height: 40px;
    width: 40px;
}

p.firstLetter::first-letter {
    font-size: 200px;
    margin-bottom: -10px;
}

p {
    font-size: 30px;
    margin: 0 0 -40px 0;
}

div.imagenGatito {
    margin: 60px 0 0 0;
    border: solid blue 1px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    text-align: center;
    background-color: silver;
}

p.nombreGatito {
    margin: 0;
    font-size: 18px;
}

div.circular2 {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 10px;
    background-color: red !important;
    border-radius: 110px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 100px;
    line-height: 160px;
}

div.semaforo {
    width: 50px;
    height: 50px;
}

div.semaforo.rojo {
    background-color: red;
}

div.semaforo.verde {
    background-color: green;
}