<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React - ejercicios</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/react@15/dist/react.min.js">
    </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
    <div id="root"></div>

    <script type="text/babel">

        class Main extends React.Component { render() { return (
        <div>
            <HolaMundo />
            <Bola />
            <Cuadrado />
            <Separador />
            <Titulo mensaje="Ejercicios con Props" />
            <BolaX width="80px" height="80px" margin="10px" backgroundColor="#ff0000" />
            <CuadradoB width="70px" height="70px" margin="8px" grosor="5px" color="red" bStyle="solid" backgroundColor="transparent" />
            <Mosca color="blue" />
            <Capital capital="Barcelona" />
            <Gato width="200px" height="200px" nombre="Garfield" />
            <Bola num="22" />
            <BolaBingo num="22" />
            <Separador />
            <Titulo mensaje="Ejercicios utilizando style específico (no clases CSS)" />
            <FotoBolaX width="200px" height="200px" borderRadius="200px" />
            <Marco borderColor="brown" borderWidth="3px" backgroundColor="beige" borderStyle="solid" padding="10px" />
            <Separador />
            <Titulo mensaje="Ejercicios con State" />
            <Flipicon estado="true" />
        </div>
        ); } } const HolaMundo = () =>
        <h1>Ejercicios sin Props</h1>; const Bola = (props) =>
        <div className="bola">{props.num}</div>; const Cuadrado = () =>
        <div className="cuadrado"></div>; const Separador = () =>
        <div className="separador"></div>; const Titulo = (props) =>
        <h1>{props.mensaje}</h1>; const BolaX = (props) =>
        <div className="bola" style={{width: props.width, height: props.height, margin: props.margin, backgroundColor: props.backgroundColor, borderRadius: props.width}} />; const CuadradoB = (props) =>
        <div className="cuadrado" style={{width: props.width, height: props.height, margin: props.margin, borderWidth: props.grosor, borderColor: props.color, borderStyle: props.bStyle, backgroundColor: props.backgroundColor}}/>; const Mosca = (props) =>
        <div style={{color: props.color}}><i className="fab fa-react"></i></div>; const Capital = (props) =>
        <div>
            <p className="firstLetter">{props.capital[0]}</p>
            <p>{props.capital}</p>
        </div>; const Gato = (props) =>
        <div className="imagenGatito">
            <img src="http://placekitten.com/200/200" alt="Gatito" />
            <p className="nombreGatito">{props.nombre}</p>
        </div>; const BolaBingo = (props) =>
        <div className="circular2">{props.num}</div>; const FotoBolaX = (props) =>
        <div><img src="http://lorempixel.com/200/200" alt="Imagen aleatoria" style={{width:props.width, height:props.height, borderRadius: props.borderRadius}} /></div>; const Marco = (props) =>
        <div><img src="http://lorempixel.com/200/300" alt="Imagen aleatoria" style={{borderColor:props.borderColor, borderWidth:props.borderWidth, borderStyle:props.borderStyle, backgroundColor:props.backgroundColor, padding:props.padding}} /></div>

        class Flipicon extends React.Component { constructor(props) { super(props); this.state={ estadoSemaforo: this.props.estado }; this.pulsar=this.pulsar.bind(this); } pulsar() { console.log("cambiando estado"); this.setState({ estadoSemaforo: !this.state.estadoSemaforo
        }); } render () { let claseEstado = "semaforo rojo"; if (this.props.estado === true) { claseEstado = "semaforo verde"; } return
        <div onClick={this.pulsar} className={claseEstado} />; } } ReactDOM.render(

        <Main />, document.getElementById("root") );

    </script>
</body>

</html>