body {
    padding: 50px;
}

div.container div {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 10px;
    background-color: beige;
    border-radius: 110px;
    text-align: center;
    align-items: center;
}

div.circular {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 10px;
    background-color: beige;
    border-radius: 110px;
    text-align: center;
    align-items: center;
}

div.circular2 {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 10px;
    background-color: red !important;
    border-radius: 110px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 100px;
}

div.container div.circular.changeColor {
    background-color: cadetblue;
}

.red {
    background-color: red !important;
}

.inputToCopy,
.inputToPaste {
    width: 300px;
}

table,
tr,
td {
    border: 1px solid black;
    width: 400px;
    height: 50px;
}