h3.display {
    border: 1px solid black;
    padding: 5px;
    height: 40px;
    font-size: 34px;
    line-height: 40px;
    margin: 10px;
}

button.button {
    background-color: silver;
    color: white;
    width: 20%;
    height: 100px;
    margin: 5px;
    padding: 5px;
    align-content: center;
    font-size: 300%;
}