.App-navigation {
    display: block;
}

.App-list-unstyled {
    padding-left: 0px;
}

.App-list-unstyled li {
    list-style: none;
    display: inline;
    margin: 0 10px 0 0;
}

.link {
    display: inline;
    color: black;
    margin: 0 20px 0 0;
}

.link.active {
    border-bottom: blue solid 2px;
}

.link:hover {
    color: black;
    text-decoration: none;
    border-bottom: blue solid 2px;
}

.form-control {
    width: 430px;
}

#yearsOldInput.form-control {
    width: 200px;
}

#genderInput {
    width: 200px;
    height: 40px;
    display: block;
}

#genderInput.form-control {
    width: 200px;
    height: 40px;
    display: block;
}

.formGroup {
    display: inline-block;
    margin: 0 30px 20px 0;
}

.homeImg {
    width: 100%;
    height: 300px;
}