div.espai50 {
    height: 50px;
}

div.celda {
    height: 50px;
    width: 50px;
    background-color: blue;
    margin: 2px;
    text-align: center;
    color: white;
    font-size: 25px;
}

div.celda.bomba {
    background-color: red;
}

div.celda.oculta {
    background-color: grey;
    cursor: pointer;
}

button.btn-margin {
    margin-right: 10px;
}
       
        
.cssTable {
    display: table;
    border-collapse:separate;
    border-spacing:5px;
    table-layout: fixed;
}

.cssRow {
    display: table-row;
}

.cssCell {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
}